ENS_DOMAIN=
WLD_APP_ID=
PRIVATE_KEY=
RESERVED_USERNAMES=
RUST_LOG="wld_usernames=debug"
BLOCKED_SUBSTRINGS="world,support,admin"
DATABASE_URL=postgres://postgres@localhost/postgres
DATABASE_READ_URL="postgres://postgres@localhost/postgres?user=postgres&password=password"
DEVELOPER_PORTAL_ENDPOINT=
REDIS_URL=rediss://:password@127.0.0.1:6380/#insecure
